<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="js/index-browserified.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="sprintController">

      <section ng-if="iterations.length > 0">
        <h1>Iterations</h1>
        <ol>
          <li ng-repeat="iteration in iterations">{{iteration.Name}}</li>
        </ol>
      </section>

      <section ng-if="currentIterationTickets.length > 0">
        <h1>Current Iteration Tickets</h1>
        <ol>
          <li ng-repeat="currentIterationTicket in currentIterationTickets">{{currentIterationTicket.Name}} ({{currentIterationTicket.ScheduleState}} / {{currentIterationTicket.PlanEstimate}})</li>
        </ol>
      </section>

    </div>
  </body>
</html>