<!DOCTYPE html> 
<html lang="en">
  <head>
    <meta charset="utf-8">
    <script src="js/index-browserified.js"></script>
  </head>
  <body ng-app="app">
    <div ng-controller="sprintController">

      <section ng-if="iterations.length > 0">
        <h1>Iterations</h1>
        <ul>
          <li ng-repeat="iteration in iterations">{{iteration.Name}}</li>
        </ul>
      </section>

      <section ng-if="currentIterationStories">
        <h1>Current Iteration Stories</h1>
        <ul>
          <li ng-repeat="currentIterationStory in currentIterationStories">{{currentIterationStory.Name}} ({{currentIterationStory.ScheduleState}} / {{currentIterationStory.PlanEstimate}})</li>
        </ul>
      </section>

    </div>
  </body>
</html>