.ct-series.undefined path {
  fill: #9400D3;
}
.ct-series.defined path {
  fill: #FF0000;
}
.ct-series.in-progress path {
  fill: #FF7F00;
}
.ct-series.completed path {
  fill: #FFFF00;
}
.ct-series.accepted path {
  fill: #00FF00;
}
